* {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	color:#ffa133;
	text-transform:uppercase;
}

body {
	background-color:#4c4c4c;
	
}

.container {
	width:1200px;
	margin:10px auto 20px auto;
}

.container > svg {
	background-color:#363636;
}

h1 {
	font-weight:100;
	text-align:center;
}


.link {
  stroke: #636363;
  stroke-opacity: .6;
}

.node {
	fill:#ffa133;
}

text {
	color:#ffa133;
	font-size:12px;
}